In [57]:
-- 1
INSERT INTO [User_]
( [id], [phone], [code], [fname], [lname], [pass], [invatation], [is_logged_in])
VALUES
(1001, '09022226700', 'b00003ki', 'Zohre', 'Rasouli', 'pass3', 8, 1),
(1002, '09022221155', 'c0000ddd', 'Elham', 'Niyayeshi', 'pass4', 4, 1),
(1003, '09022222233', 'd0000eee', 'Reza', 'Maleki', 'pass5', 9, 1),
(1004, '09022220044', 'f0000kkk', 'Morteza', 'Molayee', 'pass6', 10, 1),
(1005, '09022220022', 'e0000jjj', 'Omid', 'Ahmadi', 'pass7', 10, 1),
(1006, '09022224466', 's0000bbb', 'Mohammad', 'Sajjadi', 'pass8', 10, 1)

SELECT * FROM [User_];
GO

id,phone,code,fname,lname,pass,invatation,is_logged_in
11,09026743937,r00nh2lt,Ali,Karimi,pass,5,1
12,09018110650,ygupw435,Mohammad,Amiri,pass,8,1
13,09129615681,tmvx37i0,Mahda,Ashrafi,pass,7,1
14,09371752150,qvri9z9g,Hossein,Mortazavi,pass,10,0
15,09025807894,13czlwwg,Helma,Akhgar,pass,4,1
16,09374787030,pye761w9,Roqaye,Azizi,pass,7,1
17,09308687695,934bo6me,Kasra,Siyavashpoor,pass,3,1
18,09027061854,yca0mvyl,Nikan,Norafkan,pass,8,0
19,09509879142,dul70p8r,Erfan,Riyazati,pass,10,1
20,09503672963,hr2kyfej,Reza,Najafi,pass,10,1
1001,09022226700,b00003ki,Zohre,Rasouli,pass3,8,1
1002,09022221155,c0000ddd,Elham,Niyayeshi,pass4,4,1
1003,09022222233,d0000eee,Reza,Maleki,pass5,9,1
1004,09022220044,f0000kkk,Morteza,Molayee,pass6,10,1
1005,09022220022,e0000jjj,Omid,Ahmadi,pass7,10,1
1006,09022224466,s0000bbb,Mohammad,Sajjadi,pass8,10,1

In [37]:
-- 2
INSERT INTO [Insurance]
( [id], [ins_type], [company_id], [price], [discount])
VALUES
(451, 4, 1, 210 * 1000, 0),
(452, 4, 10, 220 * 1000, 0),
(453, 4, 3, 230 * 1000, 0),
(454, 4, 14, 240 * 1000, 0),
(455, 4, 20, 250 * 1000, 0)
GO

INSERT INTO [Property_ins]
( [id], [ins_id], [rating], [ability], [satisfaction], [branch])
SELECT *
FROM (VALUES
    (451, 451, 4.2, 5, 5.0, 10),
    (452, 452, 4.2, 5, 4.0, 30),
    (453, 453, 3.9, 5, 4.1, 7),
    (454, 454, 4.0, 5, 4.3, 5),
    (455, 455, 3.7, 4, 3.0, 30)
) AS Temp ( [id], [ins_id], [rating], [ability], [satisfaction], [branch])
ORDER BY [rating]
GO

SELECT [Insurance].[id], [Type].[type], [Company].[name], [price], [discount], [rating], [ability], [satisfaction], [branch]
FROM [Property_ins]
    INNER JOIN [Insurance] ON ([Insurance].id = [Property_ins].ins_id)
    INNER JOIN [Type] ON ([Insurance].ins_type = [Type].id)
    INNER JOIN [Company] ON ([Insurance].company_id = [Company].id)
GO

In [38]:
-- 3
DECLARE @comp_id AS INT = (SELECT id FROM Company WHERE Company.name = 'Pasargad')
PRINT @comp_id

INSERT INTO [Insurance]
( [id], [ins_type], [company_id], [price], [discount])
VALUES
(351, 3, @comp_id, 210 * 1000, 0)
GO

INSERT INTO [Property_ins]
( [id], [ins_id], [rating], [ability], [satisfaction], [branch])
VALUES
(351, 351, 4.2, 5, 5.0, 29)
GO

SELECT [Insurance].[id], [Type].[type], [Company].[name], [price], [discount], [rating], [ability], [satisfaction], [branch]
FROM [Property_ins]
    INNER JOIN [Insurance] ON ([Insurance].id = [Property_ins].ins_id)
    INNER JOIN [Type] ON ([Insurance].ins_type = [Type].id)
    INNER JOIN [Company] ON ([Insurance].company_id = [Company].id)
GO

In [39]:
-- 4
DECLARE @user_id AS INT = (SELECT id FROM [User_] WHERE [User_].fname = 'Mohammad' AND [User_].lname = 'Sajjadi')
PRINT @user_id
PRINT (@user_id * 10 + 1)

INSERT INTO [Inqury]
( [id], [inq_type])
VALUES
(251, 2)

INSERT INTO [Health_inq]
( [id], [inq_id], [is_family], [count_of_memeber])
VALUES
(251, 251, 0, 2)

INSERT INTO [Member]
( [id], [health_inq_id], [base_ins], [age_range], [head_id], [relation])
VALUES
(2511, 251, 2, 2, NULL, NULL),
(2512, 251, 3, 2, NULL, NULL)

INSERT INTO [Buy]
( [id], [user_id], [ins_id], [inq_id], [final_price], [discount_code] )
VALUES
((@user_id * 10 + 1), @user_id, 203, 251, (1500 * 1000), NULL)
GO

In [40]:
-- 5
DECLARE @reza_maleki_code AS NVARCHAR(8) = ( SELECT code FROM [User_]  WHERE [User_].fname = 'Reza' AND [User_].lname = 'Maleki')
PRINT @reza_maleki_code

DECLARE @omid_ahmadi_id AS INT =  (SELECT id FROM [User_] WHERE [User_].fname = 'Omid' AND [User_].lname = 'Ahmadi');
PRINT @omid_ahmadi_id

INSERT INTO [Inqury]
( [id], [inq_type])
VALUES
(151, 1)
INSERT INTO [Life_inq]
( [id], [inq_id], [birth_date], [contract_period], [payment_way], [monthly_payment], [premiums_increase], [capital_increase], [death_coefficient])
VALUES
(151, 151, '1400-10-10', 5, 3, (50 * 1000), 25, 10, 20)

INSERT INTO [Buy]
( [id], [user_id], [ins_id], [inq_id], [final_price], [discount_code] )
VALUES
((@omid_ahmadi_id * 10 + 1), @omid_ahmadi_id, 101, 151, (1500 * 1000), @reza_maleki_code);
SELECT * FROM [Buy];

SELECT * FROM [User_] WHERE [User_].fname = 'Reza' AND [User_].lname = 'Maleki';

UPDATE [User_]
SET invatation = invatation - 1
WHERE [User_].fname = 'Reza' AND [User_].lname = 'Maleki';

SELECT * FROM [User_] WHERE [User_].fname = 'Reza' AND [User_].lname = 'Maleki';
GO

id,user_id,ins_id,inq_id,final_price,discount_code
111,11,101,101,1500000,NULL
112,11,201,201,1500000,NULL
113,11,401,401,1500000,NULL
121,12,102,102,1500000,NULL
122,12,301,301,1500000,NULL
123,12,402,402,1500000,NULL
131,13,101,103,1500000,NULL
132,13,203,202,900000,NULL
133,13,305,302,1500000,NULL
134,13,404,403,1500000,NULL
151,15,302,303,500000,NULL
152,15,302,306,500000,NULL
153,15,302,307,500000,NULL
161,16,303,304,500000,NULL
181,18,201,203,500000,NULL
182,18,304,305,500000,NULL
191,19,207,205,1500000,NULL
10051,1005,101,151,1500000,d0000eee
10061,1006,203,251,1500000,NULL

id,phone,code,fname,lname,pass,invatation,is_logged_in
1003,09022222233,d0000eee,Reza,Maleki,pass5,9,1

id,phone,code,fname,lname,pass,invatation,is_logged_in
1003,09022222233,d0000eee,Reza,Maleki,pass5,8,1

In [41]:
-- 6
DECLARE @comp_id AS INT = ( SELECT id FROM [Company] WHERE [Company].name = 'Dey');
PRINT @comp_id;

INSERT INTO [Insurance]
( [id], [ins_type], [company_id], [price], [discount])
VALUES
(251, 2, @comp_id, 150 * 1000, 60);
SELECT * FROM [Insurance];
INSERT INTO [Health_insurance]
( [id], [ins_id], [ins_service], [child_birth], [chronic_disease], [share_of_costs])
VALUES
(251, 251, 'shakhs vahed 3 star', 9, 3, 10);
SELECT * FROM [Health_insurance];
GO

id,ins_type,company_id,price,discount
101,1,14,300000,0
102,1,1,500000,0
103,1,8,100000,0
104,1,7,100000,0
105,1,3,100000,0
201,2,10,150000,10
202,2,10,100000,20
203,2,10,170000,0
204,2,10,130000,5
205,2,14,190000,0
206,2,14,200000,0
207,2,14,210000,0
251,2,10,150000,60
301,3,19,210000,0
302,3,2,220000,0
303,3,5,230000,0
304,3,3,240000,0
305,3,10,250000,0
351,3,8,210000,0
401,4,1,210000,0
402,4,10,220000,0
403,4,3,230000,0
404,4,14,240000,0
405,4,20,250000,0
451,4,1,210000,0
452,4,10,220000,0
453,4,3,230000,0
454,4,14,240000,0
455,4,20,250000,0

id,ins_id,ins_service,child_birth,chronic_disease,share_of_costs
201,201,shakhs vahed 3 star,9,3,10
202,202,shakhs vahed 4 star,9,3,10
203,203,shakhs vahed 4 star plus,9,3,10
204,204,shakhs vahed 5 star,9,3,10
205,205,tarh sero,9,3,10
206,206,tarh sepidar,9,3,10
207,207,tarh afra,9,3,10
251,251,shakhs vahed 3 star,9,3,10

In [42]:
-- 7
DECLARE @user_id AS INT = (SELECT id FROM [User_] WHERE [User_].fname = 'Morteza' AND [User_].lname = 'Molayee')
PRINT @user_id

INSERT INTO [Reminder]
( [id], [user_id], [ins_type], [ins_description], [due_date], [ins_period], [province_id], [city_id])
VALUES
(((@user_id * 10) + 1) , @user_id, 1, 'rem 1', '1401-10-10', 6, 08, 0801),
(((@user_id * 10) + 2) , @user_id, 1, 'rem 2', '1401-11-11', 12, 08, 0801)
SELECT * FROM [Reminder]
GO

id,user_id,ins_type,ins_description,due_date,ins_period,province_id,city_id
111,11,1,test purpose,1401-10-10,12,8,801
112,11,3,test purpose,1401-05-01,3,8,802
121,12,1,test purpose,1401-05-01,6,10,1001
131,13,2,test purpose,1401-06-07,1,10,1002
132,13,4,test purpose,1401-03-01,12,5,509
171,17,1,test purpose,1380-09-01,6,8,801
191,19,1,test purpose,1370-01-01,3,8,801
201,20,1,test purpose,1360-03-01,6,8,801
10041,1004,1,rem 1,1401-10-10,6,8,801
10042,1004,1,rem 2,1401-11-11,12,8,801

In [44]:
-- Delete
SELECT * FROM [User_];
SELECT DISTINCT user_id FROM [Buy];

DELETE FROM [User_]
WHERE NOT EXISTS (
    SELECT *
    FROM [Buy]
    WHERE [Buy].user_id = [User_].id
);

SELECT * FROM [User_];
GO

id,phone,code,fname,lname,pass,invatation,is_logged_in
11,09026743937,r00nh2lt,Ali,Karimi,pass,5,1
12,09018110650,ygupw435,Mohammad,Amiri,pass,8,1
13,09129615681,tmvx37i0,Mahda,Ashrafi,pass,7,1
15,09025807894,13czlwwg,Helma,Akhgar,pass,4,1
16,09374787030,pye761w9,Roqaye,Azizi,pass,7,1
18,09027061854,yca0mvyl,Nikan,Norafkan,pass,8,0
19,09509879142,dul70p8r,Erfan,Riyazati,pass,10,1
1005,09022220022,e0000jjj,Omid,Ahmadi,pass7,10,1
1006,09022224466,s0000bbb,Mohammad,Sajjadi,pass8,10,1

user_id
11
12
13
15
16
18
19
1005
1006

id,phone,code,fname,lname,pass,invatation,is_logged_in
11,09026743937,r00nh2lt,Ali,Karimi,pass,5,1
12,09018110650,ygupw435,Mohammad,Amiri,pass,8,1
13,09129615681,tmvx37i0,Mahda,Ashrafi,pass,7,1
15,09025807894,13czlwwg,Helma,Akhgar,pass,4,1
16,09374787030,pye761w9,Roqaye,Azizi,pass,7,1
18,09027061854,yca0mvyl,Nikan,Norafkan,pass,8,0
19,09509879142,dul70p8r,Erfan,Riyazati,pass,10,1
1005,09022220022,e0000jjj,Omid,Ahmadi,pass7,10,1
1006,09022224466,s0000bbb,Mohammad,Sajjadi,pass8,10,1

In [52]:
-- Insert
CREATE TABLE [Tmp_user](
	[id] INT NOT NULL PRIMARY KEY,
	[phone] NVARCHAR(11) NOT NULL UNIQUE,
	[code] NVARCHAR(8) NOT NULL UNIQUE,
	[fname] NVARCHAR(50),
	[lname] NVARCHAR(50),
	[pass] NVARCHAR(25),
	[invatation] TINYINT DEFAULT 10,
	[is_logged_in] BIT DEFAULT 1
);

INSERT INTO [Tmp_user]
SELECT u.*
FROM [Buy] b
    INNER JOIN [User_] u ON (b.user_id = u.id)
    INNER JOIN [Insurance] ins ON (b.ins_id = ins.id)
    INNER JOIN [inqury] inq ON (b.inq_id = inq.id)
    INNER JOIN [Property_inq] pinq ON (pinq.inq_id = inq.id)
    INNER JOIN [Province] p ON (pinq.province_id = p.id)
WHERE 
inq.inq_type = (SELECT id FROM [Type] WHERE [type] = 'Fire') AND
p.name IN ('khorasan Shomali', 'khorasan Razavi', 'khorasan Jonobi')

SELECT * FROM [Tmp_user]
GO

: Msg 2714, Level 16, State 6, Line 2
There is already an object named 'Tmp_user' in the database.

: Msg 2627, Level 14, State 1, Line 14
Violation of PRIMARY KEY constraint 'PK__Tmp_user__3213E83F3F0D7CCF'. Cannot insert duplicate key in object 'dbo.Tmp_user'. The duplicate key value is (12).

id,phone,code,fname,lname,pass,invatation,is_logged_in
12,09018110650,ygupw435,Mohammad,Amiri,pass,8,1
15,09025807894,13czlwwg,Helma,Akhgar,pass,4,1

In [56]:
-- View
CREATE VIEW Family_Health_Ins_Users
AS
SELECT u.*
FROM [Buy] b
    INNER JOIN [User_] u ON (b.user_id = u.id)
    INNER JOIN [inqury] inq ON (b.inq_id = inq.id)
    INNER JOIN [Health_inq] hinq ON (hinq.inq_id = inq.id)
WHERE hinq.is_family = 1;
GO

SELECT * FROM Family_Health_Ins_Users
GO

: Msg 2714, Level 16, State 3, Procedure Family_Health_Ins_Users, Line 1
There is already an object named 'Family_Health_Ins_Users' in the database.

id,phone,code,fname,lname,pass,invatation,is_logged_in
18,09027061854,yca0mvyl,Nikan,Norafkan,pass,8,0
19,09509879142,dul70p8r,Erfan,Riyazati,pass,10,1